<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blucor.thecontractor">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".project.ContractorApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheContractor"
        android:usesCleartextTraffic="true">
        <activity android:name=".project.activity.BillingDetailsDisplayListActivity"></activity>
        <activity android:name=".project.activity.WorkOrderDisplayListActivity" />
        <activity android:name=".project.activity.BillingDetailsActivity" />
        <activity android:name=".project.activity.WorkOrderActivity" />
        <activity
            android:name=".ClientMenuActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarYellow" />
        <activity android:name=".project.sub_contractor.SelectSubContractorListActivity" />
        <activity
            android:name=".client.ClientProjectSubActDetailsActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarApp" />
        <activity android:name=".project.sub_contractor.SubContractorDownloadReportActivity" />
        <activity android:name=".project.sub_contractor.BillingActivity" />
        <activity android:name=".project.sub_contractor.AddWorkOrderToProjectActivity" />
        <activity android:name=".project.activity.TodaysActivitiesActivity" />
        <activity android:name=".project.activity.AddSubContractorActivity" />
        <activity android:name=".project.sub_contractor.SubContractorMgtMenuActivity" />
        <activity android:name=".project.ScheduleActivity" />
        <activity android:name=".client.ClientAddAndSearchActivity" />
        <activity
            android:name=".account.ConfirmPasswordActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarApp" />
        <activity
            android:name=".account.UserTypeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.TheContractor.NoActionBar" />
        <activity
            android:name=".client.ProjectActActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarApp" />
        <activity
            android:name=".client.ClientProjectsActivity"
            android:theme="@style/Theme.TheContractor.NoActionBar" />
        <activity
            android:name=".project.material.AddMaterialDetailsActivity"
            android:label="Material"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".project.activity.AddActivityDetailsActivity"
            android:label="Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SuccessFullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_success_fullscreen"
            android:theme="@style/Theme.TheContractor.NoActionBarApp" /> <!-- android:theme="@style/Theme.TheContractor.Fullscreen" /> -->
        <activity
            android:name=".project.ProjectMenuActivity"
            android:label="Project" />
        <activity
            android:name=".project.ProjectManagementMenuActivity"
            android:label="Project" />
        <activity
            android:name=".project.ProjectListActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarApp" />
        <activity
            android:name=".project.AddProjectActivity"
            android:label="Add Project"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".project.ProjectDetailsActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarYellow" />
        <activity
            android:name=".project.CompletedProjectsActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarApp" />
        <activity
            android:name=".project.activity.AddProjectActActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarYellow" />
        <activity
            android:name=".project.activity.EditProjectActActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarApp" />
        <activity
            android:name=".project.material.MaterialMenuActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarApp" />
        <activity
            android:name=".project.material.AddMaterialActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarApp" />
        <activity
            android:name=".project.material.EditMaterialActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarApp" />
        <activity
            android:name=".account.UserProfileActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarYellow" />
        <activity
            android:name=".MenuActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarYellow" />
        <activity
            android:name=".account.ForgotPasswordActivity"
            android:theme="@style/Theme.TheContractor.NoActionBar" />
        <activity
            android:name=".account.RegisterActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarYellow"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".account.LoginActivity"
            android:theme="@style/Theme.TheContractor.NoActionBarYellow"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.TheContractor.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>